= form_for @club do |f|
  - if @club.errors.any?
    #error_explanation
      %h2= "#{pluralize(@club.errors.count, "error")} prohibited this club from being saved:"
      %ul
        - @club.errors.full_messages.each do |msg|
          %li= msg

  .field
    .mdl-textfield.mdl-js-textfield
      %input#name.mdl-textfield__input{type: 'text', name: 'club[name]', required: true, value: @club.name}
      %label.mdl-textfield__label{for: 'name'} Ime kluba
  / .field
  /   = f.label :user
  /   = f.text_field :user
  .actions
    = f.submit 'Spremi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent', style: 'color: white;'
