%h1 Klubovi

%table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Poredak
      %th Ime
      %th Broj clanova
      %th Ukupno bodova
      - if user_signed_in? && current_user.admin
        %th
        %th

  %tbody
    - @clubs.sort_by{|c| -c.points}.each_with_index do |club, index|
      %tr
        %td
          = index + 1
        %td= link_to club.name, club
        %td= club.racers.count
        %td= club.points
        - if user_signed_in? && current_user.admin
          %td= link_to 'Izmijeni', edit_club_path(club), class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored', style: 'color: white;'
          %td
            = form_for club, method: :delete do |f|
              = f.submit 'Izbrisi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent', style: 'color: white;'

- if user_signed_in? && current_user.admin
  %br
  = link_to 'Dodaj klub', new_club_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'
