%p#notice= notice

%h1
  = @club.name

- if @club.user
  %p
    %b Admin:
    = @club.user.racer.first_name
    = @club.user.racer.last_name

%h4 Registrirani vozaci

%table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th.mdl-data-table__cell--non-numeric Startni broj
      %th.mdl-data-table__cell--non-numeric Kategorija
      %th Ime
      %th Prezime
      - if user_signed_in? && current_user.admin
        %th Email
        %th Broj mobitela

  %tbody
    - @club.racers.each do |racer|
      %tr
        %td.mdl-data-table__cell--non-numeric
          = link_to racer.start_number, racer
        %td.mdl-data-table__cell--non-numeric
          = racer.category.try(:upcase)
        %td= racer.first_name
        %td= racer.last_name
        - if user_signed_in? && current_user.admin
          %td= racer.email
          %td
            %a{href: "tel:#{racer.phone_number}"}
              = racer.phone_number

%br
%br

= link_to 'Natrag', clubs_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'

- if user_signed_in? && current_user.admin
  = link_to 'Izmijeni klub', edit_club_path(@club), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'

