%h1
  Informacije - XC zimska liga Dalmacije 2017-2018

%p
  Ukoliko želite sudjelovati u utrkama potrebno se prijaviti u ligu pod izbornikom

  = link_to 'Registracija', new_racer_path
  = '.'
  Popunite sve tražene podatke,  te nakon unosa istih sustav će vam dodijeliti kategoriju i natjecateljski broj.
  Personalizirani natjecateljski broj se preuzima na prvoj utrci na kojoj nastupite i vrijedi za sve utrke ovogodišnje lige.

%p
  Za nastup na pojedinoj utrci potrebna je predprijava na istu. Predprijave i odjave su moguće 24h prije početka
  = link_to 'utrke', races_path
  = '.'
  Da biste izvršili predprijavu za utrku potrebno je biti logiran na stranicu te u izborniku Utrke odabrati "Prijavi se".
  Ukoliko ste se odjavili sa stranice, za
  = link_to 'ponovnu prijavu (login)', login_racers_path
  koristite e-mail adresu i broj mobitela u formatu koji ste unijeli prilikom registracije.

%p
  Za eventualne probleme, moliko kontaktirajte nas na
  %a{href: 'mailto:stoperica@vip.hr'}
    email.
  Pritužbe nakon zatvranja prijava na utrku se ne uvažavaju!
%p
  Na mobilnim uređajima stranica se ispravno prikazuje samo na
  %a{ href: 'https://www.google.com/chrome/browser/mobile/' }
    Google Chrome web pregledniku.

