%p#notice= notice

%h1
  = @race.laps == 1 ? 'XCM' : 'XCO'
  = @race.name

.race-actions
  = link_to races_path do
    .mdl-button.mdl-button--raised.mdl-js-button.mdl-js-ripple-effect
      Natrag
  = form_for RaceResult.new do |f|
    = f.hidden_field :racer_id, value: current_user.racer.id
    = f.hidden_field :race_id, value: @race.id
    = f.hidden_field :status, value: 1
    .actions
      = f.submit 'Prijavi se', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'

%h4
  Prijavljeni vozaci

%table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th.mdl-data-table__cell--non-numeric Startni broj
      %th Ime
      %th Prezime
      %th Vrijeme
  %tbody
    - @race.race_results.each do |race_result|
      %tr
        %td.mdl-data-table__cell--non-numeric
          = race_result.racer.start_number
        %td= race_result.racer.first_name
        %td= race_result.racer.last_name
        %td= race_result.lap_times.try(:last) || '- -'
