%h1
  = @race.name

.race-actions
  = link_to races_path do
    .mdl-button.mdl-button--raised.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
      Natrag
  - if user_signed_in? && !@racer_has_race_result
    = form_for RaceResult.new do |f|
      = f.hidden_field :racer_id, value: current_user.racer.try(:id)
      = f.hidden_field :race_id, value: @race.id
      = f.hidden_field :status, value: 1
      .actions
        = f.submit 'Prijavi se', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'
  - elsif user_signed_in? && @racer_has_race_result
    = form_for @race_result, method: 'DELETE' do |f|
      .actions
        = f.submit 'Odjavi se', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
  - else
    = link_to 'Login za prijavu', login_racers_path(redirect: "/races/#{@race.id}"), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
%a{ href: 'http://www.xczld.info/novosti/i-kolo-3-mtb-maraton-stankovci-2016-raspis/', target: '_blank' }
  %h4
    RASPIS UTRKE

%h4
  Prijavljeni vozaci
  = "(#{@race.race_results.count})"

- if user_signed_in? && current_user.admin
  = form_for RaceResult.new do |f|
    = f.select :racer_id, options_for_select(Racer.where.not(id: @race.race_results.pluck(:racer_id)).collect{|r| [r.full_name, r.id]}), include_blank: true
    = f.hidden_field :race_id, value: @race.id
    = f.hidden_field :status, value: 1
    = f.submit 'Prijavi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'

    %br
    %br

%table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Startni broj
      %th Ime
      %th Prezime
      %th Klub
      %th Vrijeme
      %th Status
      %th Bodovi
      - if user_signed_in? && current_user.admin
        %th
  %tbody
    - Racer.categories.each do |category|
      %tr{ class: 'cat-' + category[0].gsub('+', '') }
        %td{ colspan: 7 }
          = category[0].upcase

      - @race.race_results.order(points: :desc).each do |race_result|
        - if race_result.racer.category == category[0]
          %tr
            %td
              = link_to race_result.racer.start_number, race_result.racer
            %td= race_result.racer.first_name
            %td= race_result.racer.last_name
            %td= race_result.racer.club.try(:name)
            %td= race_result.finish_time
            %td= race_result.pretty_status
            %td= race_result.points
            - if user_signed_in? && current_user.admin && race_result.status && race_result.status < 2
              %td
                = form_for race_result do |f|
                  = f.hidden_field :status, value: 2
                  .actions
                    = f.submit 'Potvrdi uplatu', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
