%h1
  = @race.name

.race-actions
  = link_to races_path do
    .mdl-button.mdl-button--raised.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
      Natrag
  - if (DateTime.now - 24.hours) > @race.date
    - if user_signed_in? && !@racer_has_race_result
      = form_for RaceResult.new do |f|
        = f.hidden_field :racer_id, value: current_user.racer.id
        = f.hidden_field :race_id, value: @race.id
        = f.hidden_field :status, value: 1
        .actions
          = f.submit 'Prijavi se', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'
    - elsif user_signed_in? && @racer_has_race_result
      = form_for @race_result, method: 'DELETE' do |f|
        .actions
          = f.submit 'Odjavi se', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
    - else
      = link_to 'Login za prijavu', login_racers_path(redirect: "/races/#{@race.id}"), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
  - else
    %h6 Isteklo vrijeme za prijavu (24h prije starta)

%h4
  Prijavljeni vozaci
  = "(#{@race.race_results.count})"

%table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Startni broj
      %th Ime
      %th Prezime
      %th Klub
      %th Vrijeme
      %th Status
      %th Bodovi
      - if user_signed_in? && current_user.admin
        %th
  %tbody
    - @race.race_results.each do |race_result|
      %tr
        %td
          = link_to race_result.racer.start_number, race_result.racer
        %td= race_result.racer.first_name
        %td= race_result.racer.last_name
        %td= race_result.racer.club.try(:name)
        %td= race_result.finish_time
        %td= race_result.pretty_status
        %td= race_result.points
        - if user_signed_in? && current_user.admin && race_result.status < 2
          %td
            = form_for race_result do |f|
              = f.hidden_field :status, value: 2
              .actions
                = f.submit 'Potvrdi uplatu', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
