%h1
  = @race.name

.race-actions
  = link_to races_path do
    .mdl-button.mdl-button--raised.mdl-button--accent.mdl-js-button.mdl-js-ripple-effect
      Natrag

  - if user_signed_in? && current_user.admin
    = link_to race_path(@race, format: "csv") do
      .mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect
        Export CSV

  - unless @race.date - 1.days < DateTime.now
    - if user_signed_in? && !@racer_has_race_result
      = form_for RaceResult.new do |f|
        = f.hidden_field :racer_id, value: current_user.racer.try(:id)
        = f.hidden_field :race_id, value: @race.id
        = f.hidden_field :status, value: 1
        .actions
          = f.submit 'Prijavi se', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'
    - elsif user_signed_in? && @racer_has_race_result
      = form_for @race_result, method: 'DELETE' do |f|
        .actions
          = f.submit 'Odjavi se', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
    - else
      = link_to 'Login za prijavu', login_racers_path(redirect: "/races/#{@race.id}"), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'

%a{ href: @race.description_url, target: '_blank' }
  %h4
    RASPIS UTRKE

%h4
  Prijavljeni vozaci
  = "(#{@race.race_results.count})"

- if user_signed_in? && current_user.admin
  = form_for RaceResult.new do |f|
    = f.select :racer_id, options_for_select(Racer.where.not(id: @race.race_results.pluck(:racer_id)).collect{|r| ["#{r.start_number} - #{r.full_name}", r.id]}), include_blank: true
    = f.hidden_field :race_id, value: @race.id
    = f.hidden_field :status, value: 1
    = f.submit 'Prijavi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'

  %br
  %br

%table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Mjesto
      %th Startni broj
      %th Ime
      %th Prezime
      %th Klub
      %th Vrijeme
      %th Status
      %th Bodovi
      - if user_signed_in? && current_user.admin
        %th
  %tbody
    - Racer.categories.each do |category|
      %tr{ class: 'cat-' + category[0].gsub('+', '') }
        %td{ colspan: 8 }
          = category[0].upcase

      - (@race.race_results.select{|rr| rr.lap_times.length > 0}.sort{|x, y| x.finish_time <=> y.finish_time} + @race.race_results.select{|rr| rr.lap_times.length == 0}.sort{|x, y| y.status <=> x.status}).select{|rr| rr.racer.category == category[0]}.each_with_index do |race_result, index|
        %tr
          %td
            - if race_result.status == 3
              = "#{index + 1}."
          %td
            = link_to race_result.racer.start_number, race_result.racer
          %td= race_result.racer.first_name
          %td= race_result.racer.last_name
          %td= race_result.racer.club.try(:name)
          %td= race_result.finish_time
          - if @race.ended_at.present? && race_result.status == 1
            .mdl-tooltip.mdl-tooltip--large{for: "raceResult-#{race_result.id}"}
              Na iducem startu placa dodatnih 10 kn.
            %td.shame{id: "raceResult-#{race_result.id}"}
              = race_result.pretty_status
          - else
            %td= race_result.pretty_status
          %td= race_result.points
          - if user_signed_in? && current_user.admin && race_result.status && race_result.status < 2
            %td
              = form_for race_result do |f|
                = f.hidden_field :status, value: 2
                .actions
                  = f.submit 'Potvrdi uplatu', class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'
