%h1 Natjecatelji

%table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Broj
      %th Kategorija
      %th Ime
      %th Prezime
      %th Klub
      - if user_signed_in? && current_user.admin
        %th Email
        %th Broj mobitela
        %th
        %th

  %tbody
    - @racers.each do |racer|
      %tr
        %td
          = link_to racer.start_number, racer
        %td
          = racer.category.try(:upcase)
        %td= racer.first_name
        %td= racer.last_name
        %td= racer.club.try(:name) || '- -'
        - if user_signed_in? && current_user.admin
          %td= racer.email
          %td
            %a{href: "tel:#{racer.phone_number}"}
              = racer.phone_number
          %td
            = link_to 'Izmijeni', edit_racer_path(racer), class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored', style: 'color: white;'
          %td
            = form_for racer, method: :delete do |f|
              = f.submit 'Izbrisi', class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent', style: 'color: white;'
