%h1
  Natjecatelji
  = "(#{@racers.count})"

- if user_signed_in? && current_user.admin
  %label{ for: 'category_select' }
    Filtriraj po kategoriji
  %select#category_select{ autocomplete: 'off' }
    %option{ value: 'null', selected: ( params[:category].blank? ) }
      Odaberi kategoriju
    - Racer.categories.each do |category|
      %option{ value: category[1], selected: ( params[:category] == category[1].to_s )}
        = category[0].upcase

  %label{ for: 'racer_order' }
    Poredaj po startnom broju
  %input#racer_order{ type: 'checkbox', checked: params[:order] == 'start_number' }
  %br
  %br
  :javascript
    document.getElementById('category_select').addEventListener('change', function(){
      buildParams();
    });

    document.getElementById('racer_order').addEventListener('change', function(){
      buildParams();
    });

    function buildParams() {
      var queryString = '';

      var categoryQuery = document.getElementById('category_select').value;
      if(categoryQuery && categoryQuery != 'null') {
        queryString += 'category=' + categoryQuery;
      }

      var racerOrderQuery = document.getElementById('racer_order').checked;
      queryString += racerOrderQuery ? '&order=start_number' : '&order=total_points';

      window.location.search = queryString;
    }


%ul.demo-list-two.mdl-list
  - @racers.each do |racer|
    = link_to racer do
      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          %i.material-icons.mdl-list__item-avatar{ class: 'cat-' + racer.category.gsub('+', '') }
            directions_bike
          %span
            %b= racer.start_number.value
            = racer.full_name

            - if user_signed_in? && current_user.admin
              .admin-actions
                %span
                  %a.email{ href: "mailto:#{racer.email}" }
                    = racer.email
                %span
                  %a{ href: "tel:#{racer.phone_number}" }
                    %b= racer.phone_number
                %span
                  = link_to 'mode_edit', edit_racer_path(racer), class: 'material-icons', title: 'Izmijeni podatke'
                %span
                  = form_for racer, method: :delete do |f|
                    = f.submit 'delete_forever', class: 'material-icons', title: 'Izbrisi natjecatelja'

          %span.mdl-list__item-sub-title
            Kategorija
            %b.category
              = racer.category
        %span.mdl-list__item-secondary-content
          %span.mdl-list__item-secondary-info
            = racer.club&.name
          %b.mdl-list__item-secondary-action
            = racer.total_points
