%h1 Registrirani vozaci

%table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Startni broj
      %th Kategorija
      %th Ime
      %th Prezime
      -# %th Godina rodenja
      - if user_signed_in? && current_user.admin
        %th Email
        %th Broj mobitela
        %th
        %th

  %tbody
    - @racers.each do |racer|
      %tr
        %td
          = link_to racer.start_number, racer
        %td
          = racer.category.try(:upcase)
        %td= racer.first_name
        %td= racer.last_name
        -# %td= racer.year_of_birth
        - if user_signed_in? && current_user.admin
          %td= racer.email
          %td
            %a{href: "tel:#{racer.phone_number}"}
              = racer.phone_number
          %td= link_to 'Edit', edit_racer_path(racer)
          %td= link_to 'Destroy', racer, :method => :delete, :data => { :confirm => 'Are you sure?' }
