%p#notice= notice

%h1
  %b
    = @racer.start_number
  = '-'
  = @racer.first_name
  = @racer.last_name

%h4
  %b Klub:
  - if @racer.club.present?
    = link_to club_path(@racer.club) do
      = @racer.club.try(:name)
  - else
    Nema

%h4
  %b Godina rodenja:
  = @racer.year_of_birth
%h4
  %b Kategorija:
  = @racer.category.upcase
%p
  %b Kontakt:
  %ul
    %li
      = @racer.email
    %li
      %a{href: "tel:#{@racer.phone_number}"}
        = @racer.phone_number

%h4
  Prijavljene utrke

%table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Utrka
      %th Datum odrzavanja
      %th Vrijeme
      %th Rezultat
  %tbody
    - @racer.race_results.each do |race_result|
      %tr
        %td= race_result.race.name
        %td= race_result.race.date.to_formatted_s :db
        %td= race_result.lap_times.try(:last) || '- -'
        %td= race_result.lap_times.try(:last) || '- -'


%br

= link_to 'Edit', edit_racer_path(@racer)
\|
= link_to 'Back', racers_path
