%h1
  %b
    = @racer.start_number
  = '-'
  = @racer.first_name
  = @racer.last_name

%h4
  %b Klub:
  - if @racer.club.present?
    = link_to club_path(@racer.club) do
      = @racer.club.try(:name)
  - else
    Nema

%h4
  %b Godina rodenja:
  = @racer.year_of_birth
  %br
  %b Mjesto stanovanja:
  = @racer.town
%h4
  %b Kategorija:
  = @racer.category.upcase
- if user_signed_in? && (current_user.admin || current_user.racer == @racer)
  %p
    %b Kontakt:
    %ul
      %li
        = @racer.email
      %li
        %a{href: "tel:#{@racer.phone_number}"}
          = @racer.phone_number
      %li
        Adresa:
        = @racer.address
        = @racer.zip_code
        = @racer.town

%h4
  Utrke

%table.wide_table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
  %thead
    %tr
      %th Utrka
      %th Vrijeme
      %th Rezultat
  %tbody
    - @racer.race_results.each do |race_result|
      %tr
        %td= race_result.race.name
        %td= race_result.lap_times.try(:last) || '- -'
        %td= race_result.lap_times.try(:last) || '- -'


%br
= link_to 'Natrag', racers_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect'

- if user_signed_in? && (current_user.admin || current_user.racer == @racer)
  = link_to 'Izmijeni podatke', edit_racer_path(@racer), class: 'mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect'
